* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: black;
  margin: 0;
}

a {
  text-decoration: inherit;
}

a:hover {
  font-weight: 900;
}

body {
  overflow: scroll;
  scroll-behavior: smooth;
}

.navbar {
  display: flex;
  flex: 1 1 auto;
  padding: 15px 30px;
  border-bottom: 1px solid beige;
  background-color: rgb(248, 248, 202);
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  
}

.nav--right {
  display: flex;
  gap: 50px;
  padding-right: 30px;
  font-size: 24px;
  font-weight: 300;
}

.title {
  margin-right: auto;
  font-size: 28px;
  font-weight: 700;
  flex-shrink: 0;
  padding-right: 30px;
}

.image--one {
  width: 100%;
  height: 600px;
  background-image: url("./images/taco.jpg");
  background-size: cover;
  background-position: 50% 50%;
}

.joinus--container {
  display: flex;
  flex-direction: column;
  background-color: rgb(248, 248, 202);
  padding: 30px;
  align-items: center;
}
.joinus--title {
  margin-bottom: 20px;
}

.joinus--para {
  text-align: center;
  padding-bottom: 20px;
  line-height: 1.7em;
  max-width: 800px;
}

.imagetwo--container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 20px 30px;
  margin-bottom: 50px;

}

.imagetwo--container > div {
  width: 400px;
  height: 200px;
  
  border-radius: 7px;
}

.imagetwo--one {
  background-image: url("./images/bluetaco.png");
  background-size: 100%;
  background-position: 60% 80%;
}

.imagetwo--two {
  background-image: url("./images/quesadilla.png");
  background-size: 100%;
  background-position: 60% 80%;
}

.imagetwo--three {
  background-image: url("./images/salbutes.jpg");
  background-size: 100%;
  background-position: 40% 40%;
}

.imagetwo--four {
  background-image: url("./images/mezcal.jpg");
  background-size: 100%;
  background-position: 40% 40%;
}

.footer--container {
  display: flex;
  font-size: 12px;
  padding: 0px 50px;
  padding-top: 20px;
  
}

.footer--left {
  margin-right: auto;
}

@media only screen and (min-width: 600px) {
  .menu--icon {
    visibility: hidden;
  }
}

@media only screen and (max-width: 600px) {
  .nav--right {
    visibility: hidden;
  }
  .menu--icon {
    visibility: visible;
  }
  

}

.menu--icon {
  width: 40px;
  height: 40px;
  position: fixed;
  right: 10px;
  background-image: url("./images/menuicon.png");
  background-size: contain;
  background-color: rgba(248, 248, 255, 0);
  border: unset;
}

.menu--hidden {
  visibility: hidden;
  height: 150px;
  width: 100px;
  position: fixed;
  top: 70px;
  right: 0;
  background-color: rgb(248, 248, 202);
  line-height: 2em;
  padding: 12px;
}

.menu--hidden > h6 {
  font-size: 16px;
}

.menu--icon:hover {
  right: 11px;
}